*{
    padding: 0px;
    margin: 0px;
}

a:link {
    text-decoration: none;
    color: d0d0d0;
}

a:visited{
    color: #d0d0d0;
}


.divClass{
    background-color: #252722db; 
   }


   .container{
    background-color: #4dd052; 
    color: black;
    top: 5%;
    font-family: cursive;
    padding: 5px 12px; 
}


#firstNav{
    /* display: block; */
    padding: 8px;
}
#firstNav ul li {
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-weight: bold; 
    color: #d0d0d0;
    float: right;
    list-style: none;
    padding-left: 8px;
}
#secondeNavDiv{
    background-color: #252722db;
    height: 100%;
    width: 20%;
    padding: 129px 0px;
    position: absolute;
}
#secondeNav{
    display: block;
    padding: 28px;
    background-color: #252722db;
    text-align: center;
    font-family: cursive;
    color: d0d0d0;
    text-transform: uppercase;
    position: fixed;
    box-sizing: border-box;
    width: 20%;
    border-radius: 2%;
}
#secondeNav li{
    padding-top: 10px;
    font-weight: bold;
}
#secondeNav img{
    border-radius: 46%;
    margin-left: -1%;
    width: 102%;
}
